@model NavBarUserModel

        <a class="navbar-brand" href="#DashBoard">BabyTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Infant">Infants</a>
                </li>
                <li class="nav-item">
                    <div class="nav-link">Welcome @Model.Name</div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Account/Logout">Logout</a>
                </li>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Account Settings
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" asp-page="/Users/Edit" asp-route-id="@Model.Id">Edit Account</a></li>
                                <li><a class="dropdown-item" asp-page="/Users/Delete" asp-route-id="@Model.Id">Delete Account</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>


   