<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>BabyTracker</title>
        <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <link href="/lib/BabyTrackerCustomCss/babytracker.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            @if (@User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <vc:authenticated-nav-bar/>
                    </div>
                </nav>
            }
            else
            {
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a asp-page="/Account/Login">Login</a>
                    </div>
                </nav>   
            }
        </header>
        <section>
            <div class="m-2 p-2">
                @RenderBody()
            </div>
        </section>
    </body>
</html>

<!--

-->