<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>BabyTracker</title>
        <link rel="stylesheet" href="/css/output.css"/>>
    </head>
    <body>
        <header>
            @if (@User.Identity.IsAuthenticated)
            {
                <vc:authenticated-nav-bar/>
            }
            else
            {
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a asp-page="/Account/Login">Login</a>
                    </div>
                </nav>   
            }
        </header>
        <section>
            <div class="m-2 p-2">
                @RenderBody()
            </div>
        </section>
    </body>
</html>
