@model AdministratorFooterModel
<section>
    <div class="bg-green-700 fixed w-screen bottom-0 flex flex-1 py-5 px-10 justify-end">
        <a class="text-xl mx-3 hover:text-white" asp-page="/Users/List">Users</a>
        <a class="mx-3 text-xl hover:text-white" asp-page="/Roles/List">Roles</a>
    </div>
</section>