@page
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl text-green-700 mb-4 font-medium text-gray-900">Error 404
        <br class="hidden lg:inline-block">Oops, i dont think this page exists..
      </h1>
      <p class="mb-8 leading-relaxed">The nurse told the parents of a newly born child, “You have a cute baby.” <br/>
                                        The smiling husband said, “I bet you say that to all new parents.”<br/>
                                        “No,” she replied, “just to those whose babies really are good-looking.”<br/>
                                        The husband again asked, “So what do you say to the others?”<br/>
                                        The nurse replied, “The baby looks just like you.”</p>
      <div class="flex justify-center">
          <a asp-page="/">
            <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Back</button>
          </a>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="\img\pexels-daria-shevtsova-789786.jpg">
    </div>
  </div>
</section>