<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BabyTracker</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/BabyTrackerCustomCss/babytracker.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h1><a asp-page="List">Accounts</a></h1>
            </div>
        </nav>
    </header>
    <section>
        <div class="m-2 p-2">
            @RenderBody()
        </div>
    </section>
</body>
</html>
