@page
@model LogoutModel
@{
    Layout = "_AccountLayout";
}

<div class="bg-primary text-center text-white p-2"><h4>Confirm Log Out</h4></div>


<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <button class="btn btn-primary m-2" type="submit">Log Out</button>
</form>




@functions {
    public class LogoutModel: AccountPageModel
    {
        private SignInManager<IdentityUser> signInManager;
        [BindProperty(SupportsGet=true)]
        public string ReturnUrl { get; set; }
        public LogoutModel(SignInManager<IdentityUser> signInManager)
        {
            this.signInManager = signInManager;
        }

        public async Task<IActionResult> OnPostAsync()
        {
            await signInManager.SignOutAsync();
            return Redirect(ReturnUrl ?? "/");
        }
    }
}